<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="/nowjs/now.js"></script>
    <script type="text/javascript" src="client.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="left">
      <div id="top">
        <div id="top-title">hackity</div>
      </div>
      <br>
      <div id="code">
        <textarea class="codebox"><%= text %></textarea>
      </div>
    </div>
    <div id="right">
      <div id="chat-text">Hey D</div>
      <div id="chat-bottom">
        <input type="text" id="chat-input">
      </div>
    </div>
  </body>
</html>
