html{color:#000;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}
a {outline: none;} /* Gets rid of Firefox's dotted borders */
a img {border: none;} /* Gets rid of IE's blue borders */

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #69819d;
  font-family: Helvetica, Arial;
  width: 100%;
  height: 100%;
}
#left {
  float: left;
  width: 60%;
}
#top {
  height: 100px;
  display: inline;
  float: left;
}
#top-title {
  width: 324px;
  font-size: 45px;
  letter-spacing: -2px;
  font-weight: 100;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  text-decoration: none;
}
#code {
  display: inline;
  width: 100%;
  float: left;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #aec9e9;
  outline: 1px solid #000;
}
textarea {
  font-family: monospace;
  background-color: #fff;
  border: none;
  width: 100%;
  height: 400px;
  outline: none;
  resize: none;
}

/* CHAT */
#chat-text {
  margin: 10px 10px 0 10px;
  font-family: Helvetica, Arial;
  letter-spacing: -1px;
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}

#chat-input {
  padding: 5px;
}

input#chat-input{
 position:fixed;
 bottom:0;
 right: 1%;
 height:15px;
 width: 27%;
 margin-bottom: 15px;
 background: #fff;
 border: none;
}
@media screen{
 body>input#chat-input{
  position: fixed;
 }
}
#right{
  width: 30%;
}

/* FOOTER CHAT INPUT */
div#right{
 position:fixed;
 bottom:0;
 right: 0;
 height:100%;
 background: #849fbf;
 border-left: 1px solid #fff;
 outline: 1px solid #000;
}
@media screen{
 body>div#right{
  position: fixed;
 }
}
* html body{
 overflow:hidden;
} 
* html div#content{
 height:100%;
 overflow:auto;
	background: #000;
}